<template id="people-controller-template">
    <link rel="stylesheet" href="components/PeopleController/PeopleController.css">
    <people-list id="people-list"></people-list>
    <person-detail id="person-detail"></person-detail>
</template>
<link rel="import" href="PeopleList/PeopleList.html">
<link rel="import" href="PersonDetail/PersonDetail.html">
<script src="PeopleController.js"></script>
