<template id="person-detail-template">
    <link rel="stylesheet" href="components/PeopleController/PersonDetail/PersonDetail.css">
    <div class="card__user-card-container">
      <h2 class="card__name">
        <span class="card__full-name"></span> (
        <span class="card__user-name"></span>)
      </h2>
      <p>Website: <a class="card__website"></a></p>
      <div class="card__hidden-content">
        <p class="card__address"></p>
      </div>
      <button class="card__details-btn">More Details</button>
    </div>
  </template>
  <script src="PersonDetail.js"></script>
  